html{
    scroll-behavior  : smooth;
    position: relative;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
    background-color: transparent;
}

/*------------------------------------------------ HOME BUTTON ---------------------------------------------------------------*/
/* Style buttons */
.btn {
    background-color: #534252; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 1.1em 1.3em; /* Some padding */
    font-size: 1.2em; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #c7b5b0;
  }

/*------------------------------------------------ PRELOAD ---------------------------------------------------------------*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1111111111;
    background: url(../img/loader.gif) center no-repeat #fff;
}


/*------------------------------------------------ MENU ------------------------------------------------*/
.main-page-content{
    width: 100%;
    height: 100%;
}
.main-page-content1{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.menubar {
    height: auto;
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    height: 75px;
    border-bottom: none;
    overflow: hidden;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 11111111;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    background-color: transparent;

}
.shadow{
    background-color: white;
    box-shadow: 0 0 7px 0 #e9e9e9;
}
.navbar-default.small {
    background-color: white;
    box-shadow: 0 0 12px 0 #d5d5d5;
}
.navbar-brand {
    float: left;
    height: 50px;
    font-size: 41px;
    line-height: 20px;
    padding : 21px 58px 10px;
}
.navbar-nav {
    float: right;
    margin : 24px 0 24px 23px;
}
.navbar-nav li {
    float: left;
    margin: 0 6px;
    display: inherit;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    letter-spacing: 2px;
    font-size: 14px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    padding: 4px 8px;
}
.navbar-default .navbar-nav > li > a.active {
    color: white;
    background-color: #ed133a;
}
.navbar-default .navbar-default.small .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #ed133a;
    color: white;
}
.navbar-default .navbar-nav > li > a.active:hover {
    background-color: #ed133a;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: black !important;
    background-color: transparent;
    border-bottom: 1px dotted #ed325a;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.site-title {
    padding: 0 0;
}
.site-title h3 {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #ed133a;
    margin-top: 25px;
    letter-spacing: 1px;
}
.navbar-default.small .site-title h3{
    color: #ed133a;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -39px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.under {
    width: 100%;
    height: 2px;
    background-color: black;
}
.under-hidden {
    width: 0;
    height: 2px;
    background-color: black;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.navbar-default .navbar-nav a:hover ~ .under-hidden{
    width: 100%;
}

.menubar-grid{
    padding-left: 0;
    list-style: none;

}
.menubar-grid li {
    display: inline-block;
    margin: 0 3px;
}
.menubar-grid li a {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
.menubar-grid li a:hover {
    background-color: #ed133a;
    text-decoration: none;

}
.menubar-grid li .active{
    background-color: #ed133a;
    color: white;
}


/*------------------------------------------------ HOME BACKGROUND ------------------------------------------------*/
#home{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    position: relative;
}
.home-img{
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
}
.home-content-main {
    width: 100%;
    height: 100%;
    display: table;
}

.cd-headline.clip span {
    font-size: 90px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background : #b61924 url(../img/header.jpeg) no-repeat fixed 50% 50%;
    position: absolute;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.home-row {
    z-index: 2;
    position: relative;
}
.home-text{
    width: 100%; 
}
.home-text h2 {
    font-size: 69px;
    color: white;
    letter-spacing: 5px;
    font-weight: 900;
    margin-bottom: 0;
}

.home-text h3 {
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 24px;
    margin-top: 10px;
}
.home-background{
    width: 100%;
    height: 100vh;
}
.image-home{
    width: 100%;
    height: 100vh;
}
.home-page h3{
    color: white;
}


/*------------------------------------------------ NAVIGATION BAR ------------------------------------------------*/
/*** Style top navigation ***/
.nav {
	position : sticky;
	width    : 100%;
	top      : 0;
	z-index  : 1000;
}

/*** Style the links inside the navigation bar ***/
.nav ul {
	display         : flex;
	justify-content : space-evenly;
	background      : #9897ae;
	list-style-type : none;
	margin          : 0;
}

.nav li a {
	display         : block;
	color           : #f3f1f1;
	text-align      : center;
	padding         : 0.88em 1em;
	font-size       : 1.1em;
	text-decoration : none;
}

.nav li a:hover {
	background-color : #f1e0c6;
	color            : #59526d;
	font-weight      : 900;
}

/*** Add a color to the active/current link ***/
.nav li a.active {
	color           : #3c344b;
	text-decoration : underline double;
}

/*------------------------------------------------ JOB POSTINGS ------------------------------------------------*/
:root {
    --highlight-color: #8881a2;
    --very-dark-color: #534252;
}

html, body {
    margin: 0;
}

body {
    background-color: #3c344b;
    font-family: 'Spartan', sans-serif;
}

.job-header {
    width: 100%;
    height: 300px;
    background-image: url('../img/header.jpeg');
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    background-color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.job-header h3 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.job-header h4 {
    font-size: 2.4em;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #c7b5b0;
}

.container {
    max-width: 1110px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 0 40px 40px;
}

.search {
    width: 100%;
    height: auto;
    min-height: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -7px rgba(170, 212, 212, 0.5);
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: -36px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    transition: opacity 1s;
}

.search--hidden {
    opacity: 0;
}

.search__clear {
    margin-left: 50px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: var(--highlight-color);
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.search__clear:hover {
    text-decoration: underline;
}

.jobs {
    margin-top: 36px;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 25px;
}

.jobs__item {
    width: 100%;
    height: auto;
    padding: 35px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -7px rgba(93,164,164,0.5);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.jobs__column {
    display: flex;
    align-items: center;
}

.jobs__img {
    width: 90px;
    height: auto;
}

.jobs__info {
    margin-left: 25px;
    width: auto;
}

.jobs__company {
    color: #40A5A4;
    font-size: 14px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
}

.jobs__title {
    color: var(--very-dark-color);
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.jobs__details {
    margin: 0;
    padding: 0;
}

.jobs__details-item {
    display: inline-block;
    color: hsl(180, 8%, 52%);
    font-size: 15px;
}

.jobs__details-item::after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: hsl(180, 8%, 52%);
    display: inline-block;
    margin: 5px 15px;
}

.jobs__details-item:last-child::after {
    display: none;
}

.tag, .close-tag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: hsl(180, 31%, 95%);
    font-weight: 700;
    font-size: 14px;
    color: var(--highlight-color);
    margin: 7.5px 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
}

.close-tag {
    padding-right: 45px;
}

.close-tag::after {
    content: "";
    display: block;
    width: 35px;
    height: 100%;
    background-color: var(--highlight-color);
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./images/icon-remove.svg');
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tag:hover, .tag--active {
    background-color: var(--highlight-color);
    color: #fff;
}

.close-tag:hover::after {
    background-color: var(--very-dark-color);
}

@media (max-width: 1120px) {
    .search {
        margin-bottom: 50px;
    }

    .search__clear {
        margin-left: 20px;
    }

    .jobs {
        grid-row-gap: 50px;
    }

    .jobs__item {
        flex-wrap: wrap;
    }

    .jobs__info {
        margin-left: 0;
        width: 100%;
    }

    .jobs__column {
        justify-content: flex-start;
        flex: 0 1 100%;
        flex-wrap: wrap;
    }

    .jobs__column--left {
        border-bottom: #ABABAB solid 1px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .jobs__column--right {
        width: 100%;
        justify-content: flex-start;
        flex: 0 1 100%;
        flex-wrap: wrap;
        margin-left: -5px;
    }

    .jobs__img {
        width: 50px;
        margin-top: calc(-35px - 25px);
        margin-bottom: 20px;
    }
}

/*------------------------------------------------ JOB APPLICATION ------------------------------------------------*/
/**************************** Application Form ************************/
#application {
	border           : 2px solid hsla(38, 28%, 92%, 0.6);
	background-color : hsla(38, 28%, 92%, 0.6);
	box-shadow       : -11px 11px 22px rgba(172, 168, 168, 0.53);
	padding-top      : 1.25em;
	padding-bottom   : 2em;
	width            : 90%;
	margin           : 3.5% auto 3% auto;
    text-align  : center;
}

#application > p {
	margin-left  : auto;
	margin-right : auto;
	width        : 75%;
	font-size    : 0.96em;
}

#form {
	border           : 2px double #8f8d87;
	background-color : #d3d8d9;
	padding          : 2.6em 0.9em 1.1em 0.9em;
	margin-left      : auto;
	margin-right     : auto;
    margin-top       : 1.7em;
	width            : 91%;
}

/************* Style types that are text and combo box **************/
input[type=text], select, #email-app, input[type=tel] {
	width          : 30%;
	padding        : 12px;
	border         : 1px solid #ccc;
	border-radius  : 4px;
	resize         : vertical;
	vertical-align : middle;
}

/************* Style that is textarea **************/
#comments {
	width          : 30%;
	height         : 6.25em;
	padding        : 12px;
	border         : 1px solid #ccc;
	border-radius  : 4px;
	resize         : vertical;
	vertical-align : top;
}
#lastcompany, #startdate, #portfolio, #salary {
	width          : 30%;
	height         : 1.2em;
	padding        : 12px;
	border         : 1px solid #ccc;
	border-radius  : 4px;
	resize         : vertical;
	vertical-align : top;
}

/************* Style type that are radio and checkbox **************/
input[type=radio], input[type=checkbox] {
	padding : 12px;
	resize  : vertical;
}

/************* Style type that is file **************/
input[type=file] {
	width         : 30%;
	padding       : 12px;
	border-radius : 4px;
}

.text-deco {
	font-weight : 900;
}

/************* Style the label of the form **************/
label {
	padding : 12px 12px 12px 0;
	display : inline-block;
}

/********************* Style submit and reset buttons ***************************/
.button {
	border           : none;
	border-radius    : 4px;
	cursor           : pointer;
	background-color : #eec35b;
	color            : #6b3a02;
	padding          : 12px 20px;
}

.button:hover {
	background-color : #e9d49a;
	color            : #c33e1c;
}

#firstname, #address, #postalcode, #email, #phone {
	margin-right : 5em;
}

/*------------------------------------------------ RESPONSIVE ------------------------------------------------*/
@media screen and (max-width: 768px) {
    .navbar-default.small .navbar-nav {
        float: right;
        margin : 17px 0 17px 23px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-default.small .navbar-nav > li > a {
        color: white;
    }
    .navbar-default.small .navbar-nav {
        float: right;
        margin : 17px 35% 17px 23px;
    }
    .navbar-default {
        background-color: transparent;
        height: 75px;
        border-bottom: none;
        overflow: visible;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .navbar-style{
        padding: 0;
    }
    .navbar-nav li {
        float: left;
        margin: 9px 11px;
        display: inherit;
        width: 100%;
    }
    .navbar-fixed-top .navbar-collapse {
        height: 740px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        letter-spacing: 2px;
        font-size: 16px;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        padding: 10px 0;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #a9a8a8;
    }
}

@media screen and (max-width: 320px) {
    .menubar-grid li {
        display: inline-block;
        margin: 8px 3px;
    }
    .navbar-default.small .navbar-nav {
        float: right;
        margin : 17px 15% 17px 23px;
    }
}